.calculator {
    width: 400px;
    margin: 0 auto;
    background: #d3f95d;
    padding: 12px;
    border: 1px solid blue;
    border-radius: 7px;
}

.calc-display {
    padding-bottom: 5px;
}

.calc-display-input {
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    font-size: 56px;
    font-weight: bold;
}
.calc-buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
}

button {
    background: #c0d6e8;
    height: 50px;
    font-size: 24px;
}

button:hover {
    background: #72acdc;
}

.btn-equal {
    grid-column-start: 1;
    grid-column-end: 5;
    background: #ec7ba2;
}

.btn-equal:hover {
    background: #e91e63;
}

.btn-hover-red {
    background: #f75151;
}

.btn-hover-red:hover {
    background: #d22d2d;
}
